body {
  font-family: Arial;
  text-align:  center;
  margin-top:  50px;
  background: #f4f4f4;
}
input, select {
  padding: 10px;
  margin: 5px;
}
button {
  padding:  10px 15px;
  cursor:  pointer;
}
li { 
  list-style: none;
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius:  5px;
}

